DATABASE_URL=postgresql+asyncpg://documind:documind@localhost:5432/documind
DATABASE_URL_SYNC=postgresql://documind:documind@localhost:5432/documind
STORAGE_PATH=./storage
OCR_CONFIDENCE_THRESHOLD=0.75
OPENAI_API_KEY=your_key_here
LANGSMITH_API_KEY=your_key_here
FAISS_INDEX_PATH=./storage/faiss.index
EMBEDDING_MODEL=BAAI/bge-large-en-v1.5
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
NLI_MODEL=cross-encoder/nli-deberta-v3-large
HF_CACHE_DIR=./models
DEBUG=true
